//Colors
$color-primary: #1d1d1d;
$color-primary-module: #222222;
$color-primary-inner: #313131;
$color-secondary: #169068;
$color-tertiary: #10625e;
$color-text: #fff;

$color-grey: rgb(108, 117, 125);

//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//181818