input, select{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 0.5rem 0;
    text-align: center;
    background-color: transparent;
    color: $color-text;
    border: 1px solid $color-secondary;
    border-radius: .5rem;
    box-shadow: 0rem .3rem .5rem rgba(0, 0, 0, 0.5);


    &:focus {
        outline: none;
        border-bottom: .3rem solid $color-secondary;
        background-color: rgba($color-secondary,0.2);
        color: $color-text;

        &:invalid {
            border-bottom: .3rem solid #ff7730;
        }
    }
    &:hover {
        background-color: $color-secondary;
        color: $color-primary;

		&::after {
			opacity: 0;
		}
	}

}

.login{
    &__input {
        font-size: 2rem;
        color: $color-text;
        padding: 0.5rem 0;
        background-color: transparent;
        border: 1px solid $color-secondary;
        width: 100%;
        min-width: 30rem;
        display: block;
        text-align: center;
        border-radius: .5rem;
    
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    
        &:focus {
            outline: none;
            border-bottom: .3rem solid $color-secondary;
            background-color: rgba($color-secondary,0.2);
            color: $color-text;
    
            &:invalid {
                border-bottom: .3rem solid #ff7730;
            }
        }
    
        &:last-child {
            margin-bottom: 2rem;
        }
        &:hover {
            background-color: rgba($color-secondary,0.2);
            color: $color-primary;
            transform: scale(1.02);
            box-shadow: 0 .5rem 1.5rem rgba($color-secondary,0.2);
    
            &::after {
                opacity: 0;
            }
        }
    }
    &__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin: 0;
		display: block;
		transition: all 0.3s;
		color: $color-secondary;
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}
    &__group {
		text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;

        & > div {
            width: 60%;
            min-width: 30rem;
            max-width: 60rem;
        }
	}
    &__group:not(:last-child) {
		margin-bottom: 2rem;
	}
    &__container{
        margin-top:2rem;
        text-align: center;
        padding: 2rem 8rem;
        height: fit-content;
    }

    &__submit{
        padding: .5rem 5rem;
        background-color: $color-secondary;
        color: $color-primary;
        box-shadow: 0 .5rem 1.5rem rgba($color-secondary,0.2);
        border-radius: .5rem;
    box-shadow: 0rem .3rem .5rem rgba(0, 0, 0, 0.5);

        
        &:hover {
            transform: scale(1.02);
    
            &::after {
                opacity: 0;
            }
        }
    }
}

::placeholder {
    color: $color-grey;
    opacity: 1;
  }
