<section class="dashboard">
    <div class="dashboard-container module-outer"> 
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Current provider
            </div>
            <div class="dashboard-container__data-text">
                asd
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Current price
            </div>
            <div class="dashboard-container__data-text">
                123
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Next purchase
            </div>
            <div class="dashboard-container__data-text">
                10 min
            </div>
        </div>
    </div>

    <div class="dashboard-container module-outer login__container">
        <div id="ChartDiv">

        </div>
        <canvas id="chart">

        </canvas>
    </div>
</section>