<footer>
    <div class="footer-logo">
        <h1>Logo</h1>
    </div>
    <div class="footer-links">
        <div class="footer-links__column">
            <a href="">Test</a>
            <a href="">Test</a>
    
            <a href="">Test</a>
    
            <a href="">Test</a>
        </div>
        <div class="footer-links__column">
            <a href="">Test</a>
            <a href="">Test</a>

            <a href="">Test</a>

            <a href="">Test</a>
        </div>
        <div class="footer-links__column">
            <a href="">Test</a>
            <a href="">Test</a>
            <a href="">Test</a>
            <a href="">Test</a>
        </div>
        

    </div>
</footer>