<div class="header__sides" id="icon__box">
    <img  src="/images/logo.png">
</div>
<div class="header__middle">

</div>
<div class="navigation header__sides">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>
</div>