<div class="pending">
    <div class="pending__background">
        <div class="pending__background-deep module-outer">
            
        </div>
        <div class="pending__background-big module-outer">

        </div>
        <div class="pending__background-small module-outer">
            
        </div>
        <div class="module-outer">
            
        </div>
        <div class="module-outer">
            
        </div>
        <div class="module-outer">
            
        </div>
        <div class="module-outer">
            
        </div>
    </div>
    <h1>Pending Admin approval</h1>
</div>