/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
$breakpoint argument choises
- phone
- tab-up
- tab-land
- big

*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #1d1d1d; }
  @media (max-width: 100em) {
    html {
      font-size: 65%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 62%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none; }

div {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
  text-transform: uppercase; }

p {
  font-size: 1.2rem;
  font-weight: 300;
  color: inherit; }
  @media (min-width: 112.5em) {
    p {
      font-size: 1.2rem; } }

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: inherit; }
  @media (min-width: 112.5em) {
    h2 {
      font-size: 1.5rem; } }

h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: inherit; }
  @media (min-width: 112.5em) {
    h3 {
      font-size: 1.3rem; } }

a, p, h1 {
  text-decoration: none;
  color: inherit; }
  @media (min-width: 112.5em) {
    a, p, h1 {
      font-size: .8rem; } }

a:hover {
  text-decoration: underline; }

.subtext {
  color: #ccc;
  font-size: 1rem;
  display: block;
  text-align: center; }

.u-center-text {
  text-align: center; }

.u-margin-auto {
  margin: auto; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-border-right {
  border-right: 1px solid #169068; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #1d1d1d;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 10000;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 1rem 3rem #169068;
          box-shadow: 0 1rem 3rem #169068; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 6rem;
      right: 6rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.75rem;
  right: 2.75rem;
  background-image: -o-radial-gradient(#1d1d1d, #169068);
  background-image: radial-gradient(#1d1d1d, #169068);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 6.5rem;
      right: 6.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5000;
  opacity: 0;
  width: 0;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #169068;
  text-decoration: none;
  text-transform: uppercase;
  background-image: -o-linear-gradient(330deg, transparent 0%, transparent 50%, #1d1d1d 50%);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #1d1d1d 50%);
  background-size: 220%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-radius: .5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #169068;
  -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
          transform: translateX(1rem);
  border-radius: .5rem; }

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
      -ms-transform: scale(80);
          transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #169068;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon:before {
  top: -1rem; }

.navigation__button:hover .navigation__icon:after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.Chart, .ChartStatic {
  min-width: 30rem; }

canvas {
  width: 700rem; }
  @media (max-width: 56.25em) {
    canvas {
      width: 35rem;
      height: 30rem; } }

#ChartStatic {
  min-width: 60rem; }
  @media (max-width: 56.25em) {
    #ChartStatic {
      width: 35rem;
      height: 30rem; } }

.Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #169068;
  font-size: 1.6rem;
  padding: .8rem 2rem;
  margin: 0.5rem;
  border-radius: .5rem; }
  .Button:hover {
    background-color: #1d1d1d;
    color: #169068;
    text-decoration: none; }
  .Button::after, .Button::before {
    background-color: #169068;
    font-size: 1.6rem;
    padding: .8rem 2rem;
    margin: 0.5rem;
    border-radius: .5rem; }

input, select {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: 0.5rem 0;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: 1px solid #169068;
  border-radius: .5rem;
  -webkit-box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none; }
  input:focus, select:focus {
    outline: none;
    border-bottom: 0.3rem solid #169068;
    background-color: rgba(22, 144, 104, 0.2);
    color: #fff; }
    input:focus:invalid, select:focus:invalid {
      border-bottom: .3rem solid #ff7730; }
  input:hover, select:hover {
    background-color: #169068;
    color: #1d1d1d; }
    input:hover::after, select:hover::after {
      opacity: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  width: 100%;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center; }

.login__input {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 0;
  background-color: transparent;
  border: 1px solid #169068;
  width: 100%;
  min-width: 30rem;
  display: block;
  text-align: center;
  border-radius: .5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .login__input:focus {
    outline: none;
    border-bottom: 0.3rem solid #169068;
    background-color: rgba(22, 144, 104, 0.2);
    color: #fff; }
    .login__input:focus:invalid {
      border-bottom: .3rem solid #ff7730; }
  .login__input:last-child {
    margin-bottom: 2rem; }
  .login__input:hover {
    background-color: rgba(22, 144, 104, 0.2);
    color: #1d1d1d;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 144, 104, 0.2);
            box-shadow: 0 0.5rem 1.5rem rgba(22, 144, 104, 0.2); }
    .login__input:hover::after {
      opacity: 0; }

.login__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #169068; }

.login__input:-moz-placeholder-shown + .login__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.login__input:-ms-input-placeholder + .login__label {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(-4rem);
      transform: translateY(-4rem); }

.login__input:placeholder-shown + .login__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
      -ms-transform: translateY(-4rem);
          transform: translateY(-4rem); }

.login__group {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .login__group > div {
    width: 60%;
    min-width: 30rem;
    max-width: 60rem; }

.login__group:not(:last-child) {
  margin-bottom: 2rem; }

.login__container {
  margin-top: 2rem;
  text-align: center;
  padding: 2rem 8rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.login__submit {
  padding: .5rem 5rem;
  background-color: #169068;
  color: #1d1d1d;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 144, 104, 0.2);
          box-shadow: 0 0.5rem 1.5rem rgba(22, 144, 104, 0.2);
  border-radius: .5rem;
  -webkit-box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }
  .login__submit:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02); }
    .login__submit:hover::after {
      opacity: 0; }

::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1; }

::-moz-placeholder {
  color: #6c757d;
  opacity: 1; }

:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

::placeholder {
  color: #6c757d;
  opacity: 1; }

table {
  overflow: scroll;
  text-align: center;
  width: 100%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  border-collapse: collapse; }

tr:not(:last-child) {
  border-bottom: 1px solid #169068; }

th, td {
  overflow: scroll;
  padding: 0.2rem 1rem;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  th::-webkit-scrollbar, td::-webkit-scrollbar {
    display: none; }

td {
  font-size: 2rem; }
  td > a {
    color: inherit; }
  @media (max-width: 100em) {
    td {
      font-size: 1.4rem; } }

th {
  font-size: 1.8rem; }
  @media (max-width: 100em) {
    th {
      font-size: 1.2rem; } }

.loading {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .loading_spinner {
    z-index: 200;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    border-top: 30px solid #169068;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible; }
  .loading_text {
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30vh;
    width: 50vh;
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
    -webkit-animation: reverseSpin 2s linear infinite;
            animation: reverseSpin 2s linear infinite;
    font-size: 3rem; }
  .loading-container {
    height: 100%;
    width: 100%;
    -webkit-filter: blur(1.2rem);
            filter: blur(1.2rem);
    display: none; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    border-top: 0px solid #169068; }
  50% {
    -webkit-transform: rotate(205deg);
            transform: rotate(205deg);
    border-top: 20px solid #169068; }
  100% {
    -webkit-transform: rotate(385deg);
            transform: rotate(385deg);
    border-top: 0px solid #169068; } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    border-top: 0px solid #169068; }
  50% {
    -webkit-transform: rotate(205deg);
            transform: rotate(205deg);
    border-top: 20px solid #169068; }
  100% {
    -webkit-transform: rotate(385deg);
            transform: rotate(385deg);
    border-top: 0px solid #169068; } }

@-webkit-keyframes reverseSpin {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    margin-bottom: 0px; }
  50% {
    -webkit-transform: rotate(-205deg);
            transform: rotate(-205deg);
    margin-bottom: 20px; }
  100% {
    -webkit-transform: rotate(-385deg);
            transform: rotate(-385deg);
    margin-bottom: 0px; } }

@keyframes reverseSpin {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    margin-bottom: 0px; }
  50% {
    -webkit-transform: rotate(-205deg);
            transform: rotate(-205deg);
    margin-bottom: 20px; }
  100% {
    -webkit-transform: rotate(-385deg);
            transform: rotate(-385deg);
    margin-bottom: 0px; } }

header, footer {
  width: 100%;
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  header > div, footer > div {
    margin: 0 2rem; }

header {
  height: 6vh; }
  header > #icon__box > a {
    height: 100%;
    width: 100%; }
    header > #icon__box > a > img {
      height: 100%; }
  header > .header__middle {
    width: 60%; }
  header > .header__sides {
    width: 20%;
    height: 100%; }
  @media (max-width: 85em) {
    header {
      height: 8.5vh; } }

footer {
  min-height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 85em) {
    footer {
      min-height: 8.5vh; } }

.header__index {
  height: 6vh; }

#icon__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #icon__box > a > img {
    height: 10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  footer > #icon__box > img {
    height: 4.5vh; }
  footer > .header__middle {
    width: 60%; }
  footer > .header__sides {
    width: 20%; }

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .footer-logo > img {
    height: 10rem; }

.footer-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  padding-bottom: 2rem; }
  .footer-links__column {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-links__column > a {
      text-align: center;
      width: 100%;
      padding: 0.5rem 0; }

main {
  width: 100vw;
  min-height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  main::-webkit-scrollbar {
    display: none; }

.main-container {
  text-align: center; }

.container {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.module-outer {
  background-color: #222222;
  border-radius: .5rem;
  -webkit-box-shadow: 0rem 1rem 3rem #000;
          box-shadow: 0rem 1rem 3rem #000; }

.module-inner {
  background-color: #313131;
  padding: 1rem 3rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0rem .3rem .5rem #000;
          box-shadow: 0rem .3rem .5rem #000; }

.module-error {
  background-color: rgba(255, 119, 48, 0.2);
  padding: 1rem 3rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0rem .3rem .5rem #000;
          box-shadow: 0rem .3rem .5rem #000; }

.module-success {
  background-color: rgba(22, 144, 104, 0.2);
  padding: 1rem 3rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0rem .3rem .5rem #000;
          box-shadow: 0rem .3rem .5rem #000; }

.video {
  background-image: url("/images/power.mp4");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 100% 50%; }

.blockchain {
  background-image: url("/images/blockchain.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 0% 50%; }

.living-background {
  background: -o-linear-gradient(310deg, #169068 0%, rgba(16, 98, 94, 0.8) 100%), -o-linear-gradient(40deg, #1ac88e 0%, #0e5b54 100%), -o-linear-gradient(200deg, #36928d 0%, #313131 100%), -o-radial-gradient(35% 45%, 100% 120%, #ffffff 0%, #547f7d 100%), -o-radial-gradient(50% 0%, 100% 100%, #AD00FF 0%, #1fa4c2 100%), -o-radial-gradient(50% 0%, 100% 100%, #00FFE0 0%, #7300A9 80%), -o-linear-gradient(top, #048ea3 0%, #2200AA 100%);
  background: linear-gradient(140deg, #169068 0%, rgba(16, 98, 94, 0.8) 100%), linear-gradient(50deg, #1ac88e 0%, #0e5b54 100%), linear-gradient(250deg, #36928d 0%, #313131 100%), radial-gradient(100% 120% at 35% 45%, #ffffff 0%, #547f7d 100%), radial-gradient(100% 100% at 50% 0%, #AD00FF 0%, #1fa4c2 100%), radial-gradient(100% 100% at 50% 0%, #00FFE0 0%, #7300A9 80%), linear-gradient(180deg, #048ea3 0%, #2200AA 100%);
  background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal; }

.living-background2 {
  background: -o-linear-gradient(250deg, #169068 0%, rgba(16, 98, 94, 0.8) 100%), -o-linear-gradient(200deg, #1ac88e 0%, #0e5b54 100%), -o-linear-gradient(40deg, #36928d 0%, #313131 100%), -o-radial-gradient(35% 45%, 100% 120%, #ffffff 0%, #547f7d 100%), -o-radial-gradient(50% 0%, 100% 100%, #AD00FF 0%, #1fa4c2 100%), -o-radial-gradient(50% 0%, 100% 100%, #00FFE0 0%, #7300A9 80%), -o-linear-gradient(top, #048ea3 0%, #2200AA 100%);
  background: linear-gradient(200deg, #169068 0%, rgba(16, 98, 94, 0.8) 100%), linear-gradient(250deg, #1ac88e 0%, #0e5b54 100%), linear-gradient(50deg, #36928d 0%, #313131 100%), radial-gradient(100% 120% at 35% 45%, #ffffff 0%, #547f7d 100%), radial-gradient(100% 100% at 50% 0%, #AD00FF 0%, #1fa4c2 100%), radial-gradient(100% 100% at 50% 0%, #00FFE0 0%, #7300A9 80%), linear-gradient(180deg, #048ea3 0%, #2200AA 100%);
  background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal; }

.info {
  height: 40rem;
  opacity: 1; }
  .info > div {
    height: 100%; }
  .info-box-full {
    width: 100%;
    height: 100%; }
    .info-box-full-button {
      margin-top: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: auto;
          -ms-flex-pack: auto;
              justify-content: auto;
      -webkit-box-align: auto;
          -ms-flex-align: auto;
              align-items: auto; }
    .info-box-full-text {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: -8rem; }
      .info-box-full-text > h2 {
        width: 30%; }
      .info-box-full-text > p {
        text-align: center;
        width: 70%; }
  .info-box-left {
    -webkit-clip-path: polygon(0rem 0rem, 45% 0, 55% 100%, 0% 100%);
            clip-path: polygon(0rem 0rem, 45% 0, 55% 100%, 0% 100%); }
    .info-box-left-text {
      padding-right: 55%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto; }
      .info-box-left-text > h2 {
        width: 100%; }
  .info-box-right {
    -webkit-clip-path: polygon(100% 0rem, 55% 0, 45% 100%, 100% 100%);
            clip-path: polygon(100% 0rem, 55% 0, 45% 100%, 100% 100%); }
    .info-box-right-text {
      padding-left: 55%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .info-box-right-text > h2 {
        width: 100%; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#ChartDiv {
  width: 100%;
  height: 100%;
  min-width: 35rem;
  min-height: 30rem; }
  #ChartDiv > canvas {
    width: 100% !important;
    height: 100% !important; }

#chart {
  width: 100%;
  height: 100%; }

#full-table {
  width: 100%; }
  #full-table > table {
    table-layout: fixed;
    width: 100%; }
    #full-table > table > thead > tr, #full-table > table > tbody > tr {
      border-bottom: 1px solid #169068; }
      #full-table > table > thead > tr > td, #full-table > table > tbody > tr > td {
        overflow: hidden;
        font-size: 1rem; }
  #full-table__narrow {
    width: 10%; }

.dashboard {
  width: 100%;
  height: 100%;
  min-height: 88vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2rem 2fr 2rem 2fr 2rem 2fr 2rem 2fr;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  -ms-grid-rows: 2fr 2rem 2fr 2rem 2fr 2rem 2fr 2rem 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
  width: 100%;
  height: 100%;
  min-height: 88vh;
  min-width: 100vw;
  margin: 2rem 0;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem; }

.dashboard > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.dashboard > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }

.dashboard > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5; }

.dashboard > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7; }

.dashboard > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9; }

.dashboard > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1; }

.dashboard > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3; }

.dashboard > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5; }

.dashboard > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 7; }

.dashboard > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 9; }

.dashboard > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 1; }

.dashboard > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 3; }

.dashboard > *:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-column: 5; }

.dashboard > *:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-column: 7; }

.dashboard > *:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-column: 9; }

.dashboard > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 1; }

.dashboard > *:nth-child(17) {
  -ms-grid-row: 7;
  -ms-grid-column: 3; }

.dashboard > *:nth-child(18) {
  -ms-grid-row: 7;
  -ms-grid-column: 5; }

.dashboard > *:nth-child(19) {
  -ms-grid-row: 7;
  -ms-grid-column: 7; }

.dashboard > *:nth-child(20) {
  -ms-grid-row: 7;
  -ms-grid-column: 9; }

.dashboard > *:nth-child(21) {
  -ms-grid-row: 9;
  -ms-grid-column: 1; }

.dashboard > *:nth-child(22) {
  -ms-grid-row: 9;
  -ms-grid-column: 3; }

.dashboard > *:nth-child(23) {
  -ms-grid-row: 9;
  -ms-grid-column: 5; }

.dashboard > *:nth-child(24) {
  -ms-grid-row: 9;
  -ms-grid-column: 7; }

.dashboard > *:nth-child(25) {
  -ms-grid-row: 9;
  -ms-grid-column: 9; }
  .dashboard-container > div {
    -ms-grid-column-align: stretch;
        justify-self: stretch; }
  .dashboard-container-deep {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4; }
  .dashboard-container-big {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 3;
    grid-column-end: 6;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4; }
  .dashboard-container-small {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 2;
    grid-row-end: 6; }
  .dashboard-container-middle {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2; }
  .dashboard-container-fill {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 4;
    grid-row-end: 6; }
  .dashboard-container__full {
    width: 100%;
    margin: 2rem; }
  .dashboard-container__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
    width: 100%;
    border-bottom: 1px solid #169068; }
    .dashboard-container__data-header {
      text-align: center;
      font-size: 1.3rem;
      width: 30%; }
    .dashboard-container__data-text {
      text-align: center;
      width: 70%;
      font-size: 1.3rem;
      overflow: scroll; }

.pending {
  width: 100%;
  height: 100%;
  min-height: 88vh; }
  .pending > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .pending__background {
    z-index: -1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2rem 2fr 2rem 2fr 2rem 2fr 2rem 2fr;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    -ms-grid-rows: 2fr 2rem 2fr 2rem 2fr 2rem 2fr 2rem 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    width: 100%;
    height: 100%;
    min-height: 88vh;
    min-width: 100vw;
    margin: 2rem 0;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    row-gap: 2rem;
    -webkit-filter: blur(1.2rem);
            filter: blur(1.2rem); }
  .pending__background > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }
  .pending__background > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
  .pending__background > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5; }
  .pending__background > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7; }
  .pending__background > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9; }
  .pending__background > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1; }
  .pending__background > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3; }
  .pending__background > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5; }
  .pending__background > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 7; }
  .pending__background > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 9; }
  .pending__background > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 1; }
  .pending__background > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 3; }
  .pending__background > *:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-column: 5; }
  .pending__background > *:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-column: 7; }
  .pending__background > *:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-column: 9; }
  .pending__background > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 1; }
  .pending__background > *:nth-child(17) {
  -ms-grid-row: 7;
  -ms-grid-column: 3; }
  .pending__background > *:nth-child(18) {
  -ms-grid-row: 7;
  -ms-grid-column: 5; }
  .pending__background > *:nth-child(19) {
  -ms-grid-row: 7;
  -ms-grid-column: 7; }
  .pending__background > *:nth-child(20) {
  -ms-grid-row: 7;
  -ms-grid-column: 9; }
  .pending__background > *:nth-child(21) {
  -ms-grid-row: 9;
  -ms-grid-column: 1; }
  .pending__background > *:nth-child(22) {
  -ms-grid-row: 9;
  -ms-grid-column: 3; }
  .pending__background > *:nth-child(23) {
  -ms-grid-row: 9;
  -ms-grid-column: 5; }
  .pending__background > *:nth-child(24) {
  -ms-grid-row: 9;
  -ms-grid-column: 7; }
  .pending__background > *:nth-child(25) {
  -ms-grid-row: 9;
  -ms-grid-column: 9; }
    .pending__background > div {
      -ms-grid-column-align: stretch;
          justify-self: stretch; }
    .pending__background-deep {
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 2;
      grid-column-end: 3;
      -ms-grid-row: 1;
          grid-row-start: 1;
      -ms-grid-row-span: 3;
      grid-row-end: 4; }
    .pending__background-big {
      -ms-grid-column: 3;
          grid-column-start: 3;
      -ms-grid-column-span: 3;
      grid-column-end: 6;
      -ms-grid-row: 1;
          grid-row-start: 1;
      -ms-grid-row-span: 3;
      grid-row-end: 4; }
    .pending__background-small {
      -ms-grid-column: 1;
          grid-column-start: 1;
      -ms-grid-column-span: 3;
      grid-column-end: 4;
      -ms-grid-row: 4;
          grid-row-start: 4;
      -ms-grid-row-span: 2;
      grid-row-end: 6; }