#ChartDiv{
    width: 100%;
    height: 100%;
    min-width: 35rem;
    min-height: 30rem;

    & > canvas {
        width: 100% !important;
        height: 100% !important;
    }
}

#chart{
    width: 100%;
    height: 100%;
}

#full-table{
    width: 100%;
    & > table {
        table-layout: fixed;
        width: 100%;
        & > thead, & > tbody {

            & > tr{
                border-bottom: 1px solid $color-secondary;
                & > td{
                    overflow: hidden;
                    font-size:1rem;
                }
            }

        }
    }

    &__narrow{
        width: 10%
    }
}

.dashboard{
    width: 100%;
    height: 100%;
    min-height: 88vh;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    width: 100%;
    height: 100%;
    min-height: 88vh;
    min-width: 100vw;
    margin: 2rem 0;
    column-gap: 2rem;
    row-gap: 2rem;

    &-container{
        & > div{
            justify-self: stretch;
        }

        &-deep{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &-big{
            grid-column-start: 3;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &-small{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 6;
        }

        &-middle{
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &-fill{
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 6;
        }

        &__full{
            width: 100%; 
            margin:2rem;
        }
        &__data{
            display: flex;
            justify-content:center;
            align-items:center;
            padding: 1rem 0;
            width: 100%;
            border-bottom: 1px solid $color-secondary;
            &-header{
                text-align: center;
                font-size:1.3rem;
                width: 30%;
            }
            &-text{
                text-align: center;
                width: 70%;
                font-size:1.3rem;
                overflow: scroll;
            }
        }
    }
}

.pending{
    width: 100%;
    height: 100%;
    min-height: 88vh;

    & > h1{
        position: absolute;
        top: 50%;
        left: 50%;
	    transform: translate(-50%, -50%);

    }

    &__background{
        z-index: -1;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
        width: 100%;
        height: 100%;
        min-height: 88vh;
        min-width: 100vw;
        margin: 2rem 0;
        column-gap: 2rem;
        row-gap: 2rem;

        filter: blur(1.2rem);

        & > div{
            justify-self: stretch;
        }

        &-deep{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &-big{
            grid-column-start: 3;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &-small{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 6;
        }

        
    }
}