main{
    width: 100vw;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar{
        display: none;
    }
    @include respond(tab) {
        // height: auto;
        // overflow: auto;
    }
}
.main{
    &-container{
        text-align: center;
    }
}

.container{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.module{
    &-outer{
        background-color: $color-primary-module;
        border-radius: .5rem;
        box-shadow: 0rem 1rem 3rem #000;
    }
    &-inner{
        background-color: $color-primary-inner;
        padding: 1rem 3rem;
        border-radius: .5rem;
        box-shadow: 0rem .3rem .5rem #000;

    }
    &-error{
        background-color: rgba(#ff7730, 0.2);
        padding: 1rem 3rem;
        border-radius: .5rem;
        box-shadow: 0rem .3rem .5rem #000;

    }
    &-success{
        background-color: rgba($color-secondary,0.2);
        padding: 1rem 3rem;
        border-radius: .5rem;
        box-shadow: 0rem .3rem .5rem #000;
    }
}



.video{
    background-image: url("/images/power.mp4");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 100% 50%;
}

.blockchain{
    background-image: url("/images/blockchain.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 0% 50%;
}

.living-background{
    background: linear-gradient(140deg, rgba($color-secondary,1) 0%, rgba($color-tertiary,0.8) 100%), linear-gradient(50deg, #1ac88e 0%, #0e5b54 100%), linear-gradient(250deg, #36928d 0%, #313131 100%), radial-gradient(100% 120% at 35% 45%, #ffffff 0%, #547f7d 100%), radial-gradient(100% 100% at 50% 0%, #AD00FF 0%, #1fa4c2 100%), radial-gradient(100% 100% at 50% 0%, #00FFE0 0%, #7300A9 80%), linear-gradient(180deg, #048ea3 0%, #2200AA 100%);
    background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal;
}

.living-background2{
    background: linear-gradient(200deg, rgba($color-secondary,1) 0%, rgba($color-tertiary,0.8) 100%), linear-gradient(250deg, #1ac88e 0%, #0e5b54 100%), linear-gradient(50deg, #36928d 0%, #313131 100%), radial-gradient(100% 120% at 35% 45%, #ffffff 0%, #547f7d 100%), radial-gradient(100% 100% at 50% 0%, #AD00FF 0%, #1fa4c2 100%), radial-gradient(100% 100% at 50% 0%, #00FFE0 0%, #7300A9 80%), linear-gradient(180deg, #048ea3 0%, #2200AA 100%);
    background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal;
}

.info{
    height: 40rem;
    
    opacity: 1;
    & > div{

        height: 100%;
    }
    &-box{
        
        &-full{
            width: 100%;
            height: 100%;

            &-button{
                margin-top:2rem;
                display:flex;
                justify-content: auto;
                align-items: auto;
            }
            &-text{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                hyphens: auto;
                flex-direction: column;
                margin-top: -8rem;
                & > h2{
                    width: 30%;
                }
                & > p{
                    text-align: center;
                    width: 70%;
                }
            }
        }
        &-left{
            clip-path: polygon(0rem 0rem, 45% 0, 55% 100%, 0% 100%);
            &-text{
                padding-right: 55%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                hyphens: auto;
                & > h2{
                    width: 100%;
                }
            }
        }
        &-right{
            clip-path: polygon(100% 0rem, 55% 0, 45% 100%, 100% 100%);
            &-text{
                padding-left: 55%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                & > h2{
                    width: 100%;
                }
            }
        }
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}