
<div class="loading-container">
    <div class="loading">
        <div class="loading_spinner">
            <div class="loading_text">
                Pending Admin approval
            </div>
        </div>
    </div>
</div>

<section class="dashboard">
    <div class="dashboard-container-deep module-outer"> 
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Current provider
            </div>
            <div class="dashboard-container__data-text">
                asd
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Current price
            </div>
            <div class="dashboard-container__data-text">
                123
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Next purchase
            </div>
            <div class="dashboard-container__data-text">
                10 min
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Total price <p class="subtext">(month to date)</p>
            </div>
            <div class="dashboard-container__data-text">
                1000
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Providers
            </div>
            <div class="dashboard-container__data-text">
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
    </div>

    <div class="dashboard-container-big module-outer">
        <div id="ChartDiv">

            <canvas id="chart">
    
            </canvas>
        </div>
    </div>

    <div class="dashboard-container-small module-outer">
        Provider eco rating
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                1
            </div>
            <div class="dashboard-container__data-text">
                74
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                2
            </div>
            <div class="dashboard-container__data-text">
                32
            </div>
        </div>

        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                3
            </div>
            <div class="dashboard-container__data-text">
                95
            </div>
        </div>
    </div>
    <div class="dashboard-container module-outer Button">
        Party<br>
        <p class="subtext">20% extra electricity</p>
    </div>
    <div class="dashboard-container module-outer Button">
        Work <br>
        <p class="subtext">Back to normal</p>
    </div>
    <div class="dashboard-container module-outer Button">
        Away Vacation<br>
        <p class="subtext">50% less electricity</p>
    </div>
    <div class="dashboard-container module-outer Button">
        Home Vacation<br>
        <p class="subtext">20% extra electricity</p>
    </div>
</section>