
<div class="loading-container">
    <div class="loading">
        <div class="loading_spinner">
            <div class="loading_text">
                Pending Admin approval
            </div>
        </div>
    </div>
</div>

<section class="dashboard">
    <div class="dashboard-container-deep module-outer"> 
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Current provider
            </div>
            <div class="dashboard-container__data-text">
                Eniig
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Current price
            </div>
            <div class="dashboard-container__data-text">
                N/A
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Next purchase
            </div>
            <div class="dashboard-container__data-text">
                N/A
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Total price <p class="subtext">(month to date)</p>
            </div>
            <div class="dashboard-container__data-text">
                N/A
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Usage
            </div>
            <div class="dashboard-container__data-text">
                N/A
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Providers
            </div>
            <div class="dashboard-container__data-text">
                <select>
                    <option>Eniig</option>
                </select>
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Values
            </div>
            <div class="dashboard-container__data-text">
                <select>
                    <option>Cheapest</option>
                    <option>Sustainable</option>
                </select>
            </div>
        </div>
    </div>

    <div class="dashboard-container-big module-outer">
        <div id="ChartDiv">

            <canvas id="chart">
    
            </canvas>
        </div>
    </div>

    <div class="dashboard-container-small module-outer">
        <table>
            <thead>
                <tr>
                    <th>
                        Provider
                    </th>
                    <th>
                        Price range <p class="subtext">(DKK / kWh)</p>
                    </th>
                    <th>
                        Eco rating<p class="subtext">(% sustainable)</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Eniig
                    </td>
                    <td>
                        30 / 80
                    </td>
                    <td>
                        74
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dashboard-container module-outer Button">
        Party<br>
        <p class="subtext">20% extra electricity</p>
    </div>
    <div class="dashboard-container module-outer Button">
        Work <br>
        <p class="subtext">Back to normal</p>
    </div>
    <div class="dashboard-container module-outer Button">
        Away Vacation<br>
        <p class="subtext">50% less electricity</p>
    </div>
    <div class="dashboard-container module-outer Button">
        Home Vacation<br>
        <p class="subtext">20% extra electricity</p>
    </div>
</section>