    <% if(pageTitle === 'Dashboard' || pageTitle === 'User'){ %>
        <script src="/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <% } %>
    <% if(pageTitle === 'Development'){ %>
        <script src="/js/develop.js"></script>
    <% } %>
    </body>
</html>