<section class="info living-background">
    <div class="info-box-full">
        <div class="info-box-full-text">
            <div>
                <h1 style="font-style:bold; font-size: 5rem;">
                    Electrify
                </h1>
                <p style="font-style:italic; font-size: 1.2rem;">
                    The first step towards cheap sustainable energy
                </p>
            </div>
        </div>
    </div>
</section>
<section class="info video">
    <div class="info-box-left module-outer">
        <div class="info-box-left-text module-inner">
            <h2>
                The goal
            </h2>
            We strive to push the current home energy solution into the 21th century through the use of clever algorithems and blockchain technology. 
            <br><br>
            The result of our ambitions is a solution that purcases energy based on your usage patterns, from the most sustainable and cheapest providers.
        </div>
    </div>
</section>
<section class="info blockchain">
    <div class="info-box-right module-outer">
        <div class="info-box-right-text module-inner">
            <h2>
                The Tech
            </h2>
            To assure the securtity and privacy of our users, a custome blockchain and data distribution solution has been developed. The solution means that the trustless nature of the blockchains can be combined with data distribution on a need to know basis.
        </div>
    </div>
</section>