<div class="pending">
    <div class="pending__background">
        <div class="pending__background-deep module-outer">
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    Current provider
                </div>
                <div class="dashboard-container__data-text">
                    asd
                </div>
            </div>
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    Current price
                </div>
                <div class="dashboard-container__data-text">
                    123
                </div>
            </div>
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    Next purchase
                </div>
                <div class="dashboard-container__data-text">
                    10 min
                </div>
            </div>
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    Total price <p class="subtext">(month to date)</p>
                </div>
                <div class="dashboard-container__data-text">
                    1000
                </div>
            </div>
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    Providers
                </div>
                <div class="dashboard-container__data-text">
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    Current price
                </div>
                <div class="dashboard-container__data-text">
                    123
                </div>
            </div>
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    sffasfafs
                </div>
                <div class="dashboard-container__data-text">
                    12323f23f
                </div>
            </div>
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    12131
                </div>
                <div class="dashboard-container__data-text">
                    123f23f
                </div>
            </div>
            <div class="dashboard-container__data">
                <div class="dashboard-container__data-header">
                    sffasf42424afs
                </div>
                <div class="dashboard-container__data-text">
                    1232
                </div>
            </div>
        </div>
        <div class="pending__background-big module-outer">
            <div id="ChartDiv">

                <canvas id="chart">
        
                </canvas>
            </div>
        </div>
        <div class="pending__background-small module-outer Button">
            <h1>Data Need to go here</h1>
        </div>
        <div class="module-outer Button">
            <h1>
                Thing
            </h1>
        </div>
        <div class="module-outer Button">
            <h1>
                Something 
            </h1>
        </div>
        <div class="module-outer Button">
            <h1>
                Vacation
            </h1>
        </div>
        <div class="module-outer Button">
            <h1>
                Party
            </h1>
        </div>
    </div>
    <div class="loading">
        <div class="loading_spinner">
            <div class="loading_text">
                Pending Admin approval
            </div>
        </div>
    </div>
</div>