body {
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
	font-family: 'Montserrat', sans-serif;	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #fff;
	text-transform: uppercase;
}

p{
	font-size: 1.2rem;
	font-weight: 300;
	color:inherit;

	@include respond(big) {
        font-size: 1.2rem;
    }
}

h2{
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	color:inherit;

	@include respond(big) {
        font-size: 1.5rem;
    }
}

h3{
	font-size: 1.3rem;
	text-transform: uppercase;
	color:inherit;

	@include respond(big) {
        font-size: 1.3rem;
    }
}

a, p, h1 {
	text-decoration: none;
	color: inherit;
	
	@include respond(big) {
        font-size: .8rem;
    }
}

a:hover{
	text-decoration: underline;
}

.subtext{
	color: #ccc;
	font-size: 1rem;
	display: block;
	text-align: center;
}