.Chart, .ChartStatic{
    min-width: 30rem;
    
}

canvas{
    // width: 100%;
    width: 700rem;
    @include respond(tab-up) {
        width: 35rem;
        height: 30rem;
    }
}

#ChartStatic{
    min-width: 60rem;
    @include respond(tab-up) {
        width: 35rem;
        height: 30rem;
    }
}