.Chart, .ChartStatic{
    min-width: 30rem;
    
}

canvas{
    width: 70rem;
    @include respond(tab-up) {
        width: 35rem;
        height: 30rem;
    }
}

#ChartStatic{
    min-width: 30rem;
    @include respond(tab-up) {
        width: 35rem;
        height: 30rem;
    }
}