.button{
    // padding: .5rem 1rem;
    width: 100%;
    height: 3.2rem;
    background-color: transparent;
    color: $color-secondary;
    border: 5px solid $color-secondary;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;

		&::after {
			opacity: 0;
		}
	}
}